body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 76%, rgba(255,252,0,1) 100%);

    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

}

.presentacion {
    position: relative;
    width: 890px;
    height: 800px;
    background-color: black;
    top: 100px;
    margin-bottom: 200px;
    margin-top: 80px;
    border: 2px solid yellow;
    z-index: -1;
    border-radius: 20px;
}

.presentacion h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 8px;
}
.presentacion p{
    color: white;
    margin: 50px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.presentacion img{
    position: absolute;
    margin-top: -10px;
    left: 22%;
}

footer{
    color:white;
    text-align: center;
    background-color: black;
    font-family: arial;
    font-size: 15px;
    position: relative;
    margin-top: 200px;
    width: 100%;
    border-top: 2px solid yellow;
}

footer #twitter {
    position: relative;
    left: 29.8%;
    top: -72px;
}

footer #face {
    position: relative;
    left: 30%;
    top: -67px;
}

footer #inst {
    position: relative;
    left: 31%;
    top: -65px;
}

footer #unillanos{
    position: relative;
    left: -30%;
    top:-70px;
}

@media (max-width:1080px) {
    footer{
        margin-top:1000px
    }
}