body {
    background-image: url("https://cutewallpaper.org/21/tour-de-france-wallpaper/2018-Tour-De-France-Wallpapers-Wallpaper-Cave.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-attachment: fixed;
}


.cuadroPrincipal{
    position: relative;
    top: 100px;
    width: 100%;
    height: 1500px;
    background-color: black;
    opacity: 0.8;
    z-index: 0;
}

#texto1 h1{
    position: absolute;
    z-index: 1;
    color: white;
    font-family: Arial;
    text-shadow: 2px  0px 0px black,
               0px  2px 0px black,
              -2px  0px 0px black,
               0px -2px 0px black;
    top: 35%;
    left: 240px;
}

#texto1 p{
    position: absolute;
    z-index: 1;
    width: 600px;
    color: white;
    font-size: 20px;
    font-family: Arial;
    left: 30px;
    top: 45%;
}

#texto1 img{
    position: absolute;
    width: 40%;
    z-index: 1;
    border-radius: 20px;
    left: 53%;
    top:260px;
    border: 2px solid yellow;
}

#texto2 h1{
    position: absolute;
    z-index: 1;
    color: white;
    font-family: Arial;
    text-shadow: 2px  0px 0px black,
               0px  2px 0px black,
              -2px  0px 0px black,
               0px -2px 0px black;
    top: 680px;
    left: 68%;
}


#texto2 p{
    position: absolute;
    z-index: 1;
    width: 600px;
    color: white;
    font-size: 20px;
    font-family: Arial;
    left: 53%;
    top: 750px;
}

#texto2 img{
    position: absolute;
    width: 40%;
    z-index: 1;
    border-radius: 20px;
    left: 2%;
    top: 700px;
    border: 2px solid yellow;
}

#texto3 h1{
    position: absolute;
    z-index: 1;
    color: white;
    font-family: Arial;
    text-shadow: 2px  0px 0px black,
               0px  2px 0px black,
              -2px  0px 0px black,
               0px -2px 0px black;
    top: 1050px;
    left: 18%;
}

#texto3 p{
    position: absolute;
    z-index: 1;
    width: 600px;
    color: white;
    font-size: 20px;
    font-family: Arial;
    left: 2%;
    top: 1130px;
}

#texto3 img{
    position: absolute;
    width: 40%;
    z-index: 1;
    border-radius: 20px;
    left: 53%;
    top: 1080px;
    border: 2px solid yellow;
}