body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 86%, rgba(255,252,0,1) 100%);

    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

}

p{
    color:white;
}


h1{
    margin-top: 80px;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    color:white;
}

input[type="text"], input[type="password"]{
    font-size: 20px;
    color: white;
    caret-color: white;
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid yellow;
    margin: 20px auto;
    background-color: black;
}

input[type="submit"]{
    padding: 15px;
    color: white;
    background-color: yellow;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 20px auto;
    cursor: pointer;
    display: block;
}

input[type="submit"]:hover{
    background-color: black;
    color: yellow;
    border: 2px solid yellow;
}



p{
    position: static;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#cerrar{
    text-decoration: none;
}

#boton{
    background-color: yellow;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    top: -170px;
    left: 62%;
    outline: none;
    cursor:pointer;
}

