body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 86%, rgba(255,252,0,1) 100%);

    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

}

h1{
    text-align: center;
    color: white;
    font-family: arial;
}

table{
    background-color: black;
    text-align: left;
    border: 2px solid #B0B011;
    border-radius: 20px;
}

table tr{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
table tr td{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 50px;
}

table #der{
    border-left: 1px solid black;
}

table thead{
    background-color: #9C9C27;
    border:2px solid yellow;
}

table thead td{
    color: black;
}

table thead #iz{
    border-top-left-radius: 20px;
}

table thead #der{
    border-top-right-radius: 20px;
}

table tr:nth-last-child(even){
    background-color:#1F1F1C;
}


#reco{
    position:static;
    margin-top: 80px;
    margin-bottom: 50px;
    width: 60%;
}

footer{
    color:white;
    text-align: center;
    background-color: black;
    font-family: arial;
    font-size: 15px;
    position: relative;
    margin-top: 20px;
    width: 100%;
    border-top: 2px solid yellow;
}

footer #twitter {
    position: relative;
    left: 29.8%;
    top: -72px;
}

footer #face {
    position: relative;
    left: 30%;
    top: -67px;
}

footer #inst {
    position: relative;
    left: 31%;
    top: -65px;
}

footer #unillanos{
    position: relative;
    left: -30%;
    top:-70px;
}

