body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 98%, rgba(255,252,0,1) 100%);
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

}

.fondo{
    background-image: url("http://clipart.coolclips.com/480/vectors/tf05310/CoolClips_vc063681.png");
    background-position: center top;
    background-repeat: no-repeat;
    z-index: -1;
}

.fondo2{
    background-image: url("http://clipart.coolclips.com/480/vectors/tf05100/CoolClips_spor0348.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    height: 300px;
}

h1{
    text-align: center;
    color: white;
    font-family: arial;
    text-shadow: 2px  0px 0px black,
                0px  2px 0px black,
                -2px  0px 0px black,
                0px -2px 0px black;
    font-size: 50px;
}

.buscador{
    color: wheat;
    position: relative;
    height: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgb(22, 20, 14);
    margin-bottom: 80px;
    box-shadow:
    1px 1px 0 rgb(255, 251, 0),
    2px 2px 0 rgb(255, 251, 0),
    3px 3px 0 rgb(255, 251, 0),
    4px 4px 0 rgb(255, 251, 0),
    5px 5px 0 rgb(255, 251, 0),
    6px 6px 0 rgb(255, 251, 0),
    7px 7px 0 rgb(255, 251, 0);
    width: 400px;
    margin: 5em auto;
}

.formulario{
    height: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.texto-ingreso{
    margin: 3%;
    height: 35px;
    width: 250px;
    background: rgb(251,250,218);
    background: radial-gradient(circle, rgba(251,250,218,1) 0%, rgba(223,223,178,1) 100%);
    outline: none;
}

.img-buscador{
    width: 40px;
    height: 40px;
    margin: 2%;
    outline: none;
}

#ingreso{
    font-size:30px;
    color: white;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px  0px 0px black,
               0px  2px 0px black,
              -2px  0px 0px black,
               0px -2px 0px black;
}

table{
    background-color: black;
    text-align: left;
    border: 2px solid yellow;
    border-radius: 20px;
}

table tr{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

table tr:not(:last-child):hover{
    color: black;
    background-color: white;
    border-bottom-left-radius: 20px;
}

table thead:hover tr{
    background-color: yellow;
}


table tr td{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
}

table #der{
    border-left: 1px solid black;
}

table thead{
    background-color: yellow;
    border:2px solid yellow;
}

table thead td{
    color: black;
}

table thead #iz{
    border-top-left-radius: 15px;
}

table thead #der{
    border-top-right-radius: 15px;
}

table tr:nth-last-child(even){
    background-color:#1F1F1C;
}

table tr:nth-last-child(even):hover{
    background-color:white;

}

.formulario select{
    width: 100px;
    height: 30px;
    margin: 2%;
    background: rgb(251,250,218);
    background: radial-gradient(circle, rgba(251,250,218,1) 0%, rgba(223,223,178,1) 100%);
    border-radius:12px;
    outline: none;
}

.libro{
    width: 30px;
    margin-bottom: -15px;
    padding: 5px;
}